<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningcrew.linkup.place.query.mapper.OwnerMapper">

    <select id="findByOwnerId" resultType="OwnerResponse">
        SELECT
                o.owner_id
              , u.user_name as ownerName
              , s.status_type
              , o.business_registration_document_url
              , o.authorized_at
              , o.rejection_reason
          FROM owner o
          JOIN status s ON s.status_id = o.status_id
          JOIN user u ON u.user_id = o.owner_id
         WHERE owner_id = #{ownerId}
    </select>


    <select id="findAllOwners" resultType="OwnerResponse">
        SELECT
              o.owner_id
            , u.user_name as ownerName
            , s.status_type
            , o.business_registration_document_url
            , o.authorized_at
            , o.rejection_reason
         FROM owner o
         JOIN status s ON s.status_id = o.status_id
         JOIN user u ON u.user_id = o.owner_id
        <if test="roleName != null">
            WHERE s.status_type = #{statusName}
        </if>
    </select>

</mapper>
