<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learningcrew.linkup.linker.query.mapper.FriendMapper">
    <!-- 친구 목록 조회 -->
    <select id="findAcceptedFriends" resultType="FriendInfoDTO">
        SELECT
                CASE
                    WHEN f.requester_id = #{memberId} THEN f.addressee_id
                    ELSE f.requester_id
                END AS friendId
              , m.nickname
              , m.profile_image_url
          FROM friend as f
          JOIN member m
            ON m.member_id =   CASE
                               WHEN f.requester_id = #{memberId} THEN f.addressee_id
                               ELSE f.requester_id END
         WHERE (f.requester_id = #{memberId} OR f.addressee_id = #{memberId})
           AND f.status_id = ( SELECT status_id
                                  FROM status
                                 WHERE status_type = 'ACCEPTED' )
    </select>

    <!-- 받은 친구 요청 조회 -->
    <select id="findIncomingFriendRequests" resultType="FriendRequestStatusDTO">
        SELECT
                f.requester_id
              , m.nickname
              , m.profile_image_url
          FROM friend f
          JOIN member m ON f.requester_id = m.member_id
        WHERE f.addressee_id = #{ addresseeId }
          AND f.status_id = ( SELECT status_id
                                FROM status
                               WHERE status_type = 'PENDING' )
    </select>

    <select id="findMeetingsCreatedByFriends" resultType="UserMeetingDTO">
        SELECT
                 m.meeting_id AS meetingId
               , m.meeting_title
               , u.nickname AS leaderNickName
               , m.date AS meetingDate
               , p.place_name AS meetingPlace
               , m.custom_place_address AS customPlaceAddress
               , m.latitude
               , m.longitude
          FROM friend f
          JOIN member u ON (
            (f.requester_id = #{userId} AND f.addressee_id = u.member_id) OR
            (f.addressee_id = #{userId} AND f.requester_id = u.member_id)
          )
         JOIN meeting m ON m.leader_id = u.member_id
         JOIN place p ON p.place_id = m.place_id
        WHERE f.status_id = ( SELECT status_id
                                FROM status
                                WHERE status_type = 'ACCEPTED')
        ORDER BY m.date DESC
    </select>


</mapper>
