<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningcrew.linkup.linker.query.mapper.UserMapper">
    <select id="findAllUsers" resultType="UserProfileDTO">
        SELECT
                user_id
              , user_name
              , contact_number
              , email
              , point_balance
          FROM user
         WHERE role_id = #{ roleId }
    </select>
    <select id="findByUserEmail" resultType="UserDeleteDTO">
        SELECT
                 user_id
               , email
               , status_id
               , password
         FROM user
        WHERE email = #{ email }
    </select>
    <select id="findByUserUserId" resultType="UserDeleteDTO">
        SELECT
              user_id
            , email
            , status_id
            , password
        FROM user
        WHERE user_id = #{ userId }
    </select>
    <select id="findUserMeetings" resultType="UserMeetingDTO">
        SELECT
                  m.meeting_id AS meetingId
                , m.meeting_title
                , u.nickname AS leaderNickName
                , m.date AS meetingDate
                , p.place_name AS meetingPlace
                , m.custom_place_address AS customPlaceAddress
                , m.latitude
                , m.longitude
         FROM friend f
         JOIN member u ON (
                (f.requester_id = #{userId} AND f.addressee_id = u.member_id) OR
                (f.addressee_id = #{userId} AND f.requester_id = u.member_id)
            )
         JOIN meeting m ON m.leader_id = u.member_id
         JOIN place p ON p.place_id = m.place_id
        WHERE f.status_id = ( SELECT status_id
                                FROM status
                              WHERE status_type = 'ACCEPTED')
        ORDER BY m.date DESC
    </select>
    <select id="findPointByUserId" resultType="UserPointDto">
        SELECT
                user_id
              , point_balance AS totalPoints
          FROM user
         WHERE user_id = #{ userId }
    </select>
</mapper>