<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningcrew.linkupuser.query.mapper.UserMapper">
    <select id="findAllUsers" resultType="UserProfileDTO">
        SELECT
                user_id
              , user_name
              , contact_number
              , email
              , point_balance
          FROM user
         WHERE role_id = #{ roleId }
    </select>
    <select id="findByUserEmail" resultType="UserDeleteDTO">
        SELECT
                 user_id
               , email
               , status_id
               , password
         FROM user
        WHERE email = #{ email }
    </select>
    <select id="findByUserUserId" resultType="UserDeleteDTO">
        SELECT
              user_id
            , email
            , status_id
            , password
        FROM user
        WHERE user_id = #{ userId }
    </select>
    <select id="findUserMeetings" resultType="UserMeetingDTO">
        SELECT
              m.meeting_id AS meetingId
            , m.meeting_title AS meetingTitle
            , u.nickname AS leaderNickName
            , m.date AS meetingDate
            , p.place_name AS meetingPlace
            , m.custom_place_address AS customPlaceAddress
            , m.latitude
            , m.longitude
        FROM member u
        JOIN meeting_participation_history mph ON mph.member_id = u.member_id
        JOIN meeting m ON m.meeting_id = mph.meeting_id
        JOIN place p ON p.place_id = m.place_id
        WHERE u.member_id = #{userId}
        ORDER BY m.date DESC
    </select>
    <select id="findPointByUserId" resultType="UserPointDto">
        SELECT
                user_id
              , point_balance AS totalPoints
          FROM user
         WHERE user_id = #{ userId }
    </select>
    <select id="findUserInfoById" resultType="UserInfoResponse">
        SELECT
                    u.user_id       AS userId,
                    u.email         AS email,
                    m.nickname      AS nickname,
                    r.role_type     AS role,
                    s.status_type   AS status,
                    m.profile_image_url AS profileImageUrl
         FROM user u
         JOIN member m ON m.user_id = u.user_id
         JOIN role r ON u.role_id = r.role_id
         JOIN status s ON u.status_id = s.status_id
        WHERE u.user_id = #{userId}
    </select>
    <select id="findMeetingMemberById" resultType="MeetingMemberDto">
        SELECT
                m.member_id AS memberId,
                m.nickname,
                m.gender,
                m.birth_date AS birthDate,
                m.introduction,
                m.manner_temperature AS mannerTemperature,
                m.profile_image_url AS profileImageUrl
         FROM member m
        WHERE m.member_id = #{memberId}
    </select>
    <select id="existsByUserId" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM member
        WHERE member_id = #{userId}
        )
    </select>
    <select id="findUserEmailByUserId" resultType="String">
        SELECT
              email
          FROM user
        where user_id = #{userId}
    </select>
    <select id="findUserNameByUserId" resultType="String">
        SELECT
              user_name
          FROM
         WHERE user_id = #{ userId }
    </select>

    <resultMap id="UserStatusResultMap" type="UserStatusResponse">
        <association property="status" javaType="com.learningcrew.linkupuser.common.domain.Status">
            <result property="statusId" column="status_id"/>
            <result property="statusType" column="status_type"/>
        </association>
    </resultMap>

    <select id="findStatusByUserId" resultMap="UserStatusResultMap">
        SELECT
                s.status_id
              , s.status_type
          FROM user u
          JOIN status s ON s.status_id = u.status_id
         WHERE user_id = #{userId}
    </select>

    <select id="findUserList" resultType="UserListResponse">
        SELECT
            u.user_id,
            u.user_name,
            u.email,
            m.nickname,
            r.role_name,
            s.status_type,
            u.point_balance,
            u.contact_number
        FROM user u
        LEFT JOIN member m ON m.member_id = u.user_id
        LEFT JOIN role r ON u.role_id = r.role_id
        LEFT JOIN status s ON u.status_id = s.status_id
        <where>
            <if test="roleName != null">
                AND r.role_name = #{roleName}
            </if>
            <if test="statusName != null">
                AND s.status_type = #{statusName}
            </if>
        </where>
        ORDER BY u.user_id DESC
    </select>

    <select id="findUser" resultType="UserDetailResponse">
        SELECT
            u.user_id,
            u.user_name,
            u.email,
            m.nickname,
            r.role_name,
            s.status_type,
            u.point_balance,
            u.contact_number
        FROM user u
        LEFT JOIN member m ON m.member_id = u.user_id
        LEFT JOIN role r ON u.role_id = r.role_id
        LEFT JOIN status s ON u.status_id = s.status_id
        WHERE u.user_id = #{userId}
    </select>

    <!-- 일반 회원 마이페이지 정보 조회 -->
    <select id="findUserMypageById" resultType="UserMypageResponse">
        SELECT
            m.profile_image_url AS profileImageUrl,
            u.user_name AS userName,
            m.manner_temperature AS mannerTemperature,
            u.point_balance AS point
        FROM user u
        JOIN member m ON m.member_id = u.user_id
        WHERE u.user_id = #{userId}
    </select>

    <!-- 사업자 마이페이지 정보 조회 -->
    <select id="findBusinessMypageById" resultType="BusinessMypageResponse">
        SELECT
            u.user_name AS userName,
            s.status_type AS businessStatus
        FROM user u
        JOIN owner o ON u.user_id = o.owner_id
        JOIN status s ON s.status_id = o.status_id
        WHERE u.user_id = #{userId}
    </select>
</mapper>