<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningcrew.linkup.meeting.query.mapper.MeetingParticipationMapper">
    <select id="selectMeetingParticipationByMeetingIdAndMemberId" resultType="MeetingParticipationDTO">
        SELECT a.participation_id, b.status_type, a.meeting_id, a.member_id, a.participated_at
        FROM meeting_participation_history a
        JOIN status b ON a.status_id = b.status_id
        WHERE a.meeting_id = #{ meetingId }
        AND a.member_id = #{ memberId }
        AND a.status_id = 2
    </select>

    <select id="selectParticipantsByMeetingId" resultType="MemberDTO">
        SELECT b.member_id, b.gender, b.nickname, b.birth_date, b.introduction,
               b.manner_temperature, b.profile_image_url, c.status_id
        FROM meeting_participation_history a
        JOIN member b ON a.member_id = b.member_id
        JOIN user c ON b.member_id = c.user_id
        WHERE meeting_id = #{ meetingId }
        AND a.status_id = 2
        AND c.status_id != 4
    </select>

    <select id="selectHistoriesByMeetingIdAndStatusId" resultType="MeetingParticipationDTO">
        SELECT a.participation_id, b.status_type, a.meeting_id, a.member_id, a.participated_at
        FROM meeting_participation_history a
        JOIN status b ON a.status_id = b.status_id
        WHERE a.meeting_id = #{ meetingId }
        AND a.status_id = #{ statusId }
    </select>

    <select id="selectHistoryByMeetingIdAndMemberId" resultType="MeetingParticipationDTO">
        SELECT a.participation_id, b.status_type, a.meeting_id, a.member_id, a.participated_at
        FROM meeting_participation_history a
        JOIN status b ON a.status_id = b.status_id
        WHERE a.meeting_id = #{ meetingId }
        AND a.member_id = #{ memberId }
    </select>

</mapper>