<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        private long reviewId;-->
<!--        private int reviewerId; // 닉네임은 중복될 수 있으므로 id 필수 (프론트 뿌려줄 때만 적절히 제외)-->
<!--        private String reviewerNickname;-->
<!--        private int revieweeId;-->
<!--        private String revieweeNickname;-->
<!--        private int meetingId;-->
<!--        private int score;-->
<!--        private LocalDateTime createdAt;-->

<mapper namespace="com.learningcrew.linkup.meeting.query.mapper.ParticipantReviewMapper">
    <select id="getParticipantReview" resultType="ParticipantReviewDTO">
        SELECT a.review_id, a.reviewer_id, b.user_name as reviewerNickname, a.reviewee_id,
        c.user_name as revieweeNickname, a.meeting_id, a.score, a.created_at
        FROM participant_review a
        JOIN user b ON a.reviewer_id = b.user_id
        JOIN user c ON a.reviewee_id = c.user_id
        WHERE a.meeting_id = #{ meetingId }
        AND a.reviewer_id = #{ reviewerId }
        AND a.reviewee_id = #{ revieweeId }
    </select>
</mapper>