server:
  port: 0

spring:
  application:
    name: LINKUPCOMMON
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: ${STMP_HOST}       # SMTP 서버 호스트
    port: ${STMP_PORT}                   # SMTP 서버 포트
    username: ${STMP_USERNAME}      # SMTP 서버 로그인 아이디
    password: ${STMP_PASSWORD}  # SMTP 서버 로그인 비밀번호
    properties:
      mail:
        smtp:
          auth: true            # 사용자 인증 시도 여부
          starttls:
            enable: true        # starttls 활성화 여부

  main:
    allow-bean-definition-overriding: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    mybatis.configuration.auto-mapping-behavior: NONE
  mapper-locations: classpath:/mappers/**/*.xml
  type-aliases-package: >
    com.learningcrew.linkup.common.dto.query,
    com.learningcrew.linkup.community.query.dto,
    com.learningcrew.linkup.meeting.query.dto,
    com.learningcrew.linkup.notification.query.dto,
    com.learningcrew.linkup.place.query.dto,
    com.learningcrew.linkup.point.query.dto,
    com.learningcrew.linkup.report.query.dto,
    com.learningcrew.linkup.security

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_ACCESS_EXPIRATION}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION}

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.instance.instance-id:${random.value}}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  packages-to-scan: com.learningcrew.linkup
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8

image:
  image-dir: ${IMAGE_DIR}
  image-url: ${IMAGE_URL}
  default-profile: ${DEFAULT_PROFILE_IMAGE}


